<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_usyd_totalkids_domain_Smartcalendar" modelAttribute="smartcalendar" path="/smartcalendars" render="${empty dependencies}" z="Ps9pFNVljz+wiiKzTx5C77Y6NSU=">
        <field:input field="TimeHours" id="c_usyd_totalkids_domain_Smartcalendar_TimeHours" z="JlOZyTwm14+hK96JOdt/PoHimP4="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_usyd_totalkids_domain_Smartcalendar" render="${not empty dependencies}" z="YFyHcyywU/0HWDjkbu6Rmd/ifqs="/>
</div>
