<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_usyd_totalkids_domain_Book" items="${books}" z="dBWURMjfVak1ptw3jgknt2b4oWU=">
        <table:table data="${books}" id="l_usyd_totalkids_domain_Book" path="/books" z="Jjz/d1QDtckZOKHHfiC64SRBe9s=">
            <table:column id="c_usyd_totalkids_domain_Book_BookName" property="bookName" z="Bs+HeDIGPtABUOQ0XMsXNDfuQbs="/>
        </table:table>
    </page:list>
</div>
