<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_usyd_totalkids_domain_Article" modelAttribute="article" path="/articles" render="${empty dependencies}" z="tkzG+KYEq1HYtlRwUc0eykQ3ZdY=">
        <field:textarea field="Title" id="c_usyd_totalkids_domain_Article_Title" required="true" z="gO+5Oi8BlwpbV+6QnDyQgSQSgVo="/>
        <field:textarea field="Author" id="c_usyd_totalkids_domain_Article_Author" required="true" z="3T/RTS7NHSK+MWjIjAXVqJQWN1Y="/>
        <field:textarea field="Context" id="c_usyd_totalkids_domain_Article_Context" required="true" z="/DmBdu/MSUtt1dJlmY87NZ/X03Q="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_usyd_totalkids_domain_Article" render="${not empty dependencies}" z="O5B0DNCY+dhk+TZ/kOKkpSDVD3Q="/>
</div>
