<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_usyd_totalkids_domain_Article" modelAttribute="article" path="/articles" versionField="Version" z="HtU7pvi2GjMNI9gVT4DKxxSJyf0=">
        <field:textarea field="Title" id="c_usyd_totalkids_domain_Article_Title" required="true" z="gO+5Oi8BlwpbV+6QnDyQgSQSgVo="/>
        <field:textarea field="Author" id="c_usyd_totalkids_domain_Article_Author" required="true" z="3T/RTS7NHSK+MWjIjAXVqJQWN1Y="/>
        <field:textarea field="Context" id="c_usyd_totalkids_domain_Article_Context" required="true" z="/DmBdu/MSUtt1dJlmY87NZ/X03Q="/>
    </form:update>
</div>
