<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:multi id="fc_usyd_totalkids_domain_Child" modelAttribute="child" path="/children" render="${empty dependencies}" z="user-managed">
        <field:input field="firstName" id="c_usyd_totalkids_domain_Child_firstName" required="true" z="0ZbN7lkXVnMzYKYPaF8INdvCsn0="/>
        <field:input field="lastName" id="c_usyd_totalkids_domain_Child_lastName" required="true" z="bHrKGOEiLxAHq4WsfAjLiCiTvs4="/>
        <field:input field="middleName" id="c_usyd_totalkids_domain_Child_middleName" z="3GDo3Spc6G9Dqec0+ZacrkSd9+A="/>
        <field:datetime dateTimePattern="${child_dob_date_format}" field="DOB" id="c_usyd_totalkids_domain_Child_DOB" required="true" z="QB1bmduY4kV55TSZWKE5mr84umA="/>
        <field:select field="Gender" id="c_usyd_totalkids_domain_Child_Gender" items="${genders}" path="genders" z="1Aq53JbdchUzei7IZQyqPpT45fc="/>
        <field:file field="content" id="c_usyd_totalkids_domain_Child_content" required="true" z="user-managed"/>
        <field:textarea field="url" id="c_usyd_totalkids_domain_Child_url" render="false" z="user-managed"/>
    </form:multi>
    <form:dependency dependencies="${dependencies}" id="d_usyd_totalkids_domain_Child" render="${not empty dependencies}" z="TzcpLaCzq0rjxmJYChi5iHiOf7I="/>
</div>
