<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_usyd_totalkids_domain_Child" items="${children}" z="c8ZFY0q6zJFW0T0+CgADsVofktQ=">
        <table:table data="${children}" id="l_usyd_totalkids_domain_Child" path="/children" z="sNR0qJeffqc/L5iAD9ez+iXIopo=">
            <table:column id="c_usyd_totalkids_domain_Child_firstName" property="firstName" z="huKBUPwx9Rz5U5qNAbJEI3NlbIg="/>
            <table:column id="c_usyd_totalkids_domain_Child_lastName" property="lastName" z="b8NOK6shchWpQMyHj8sd3WG6w+M="/>
            <table:column id="c_usyd_totalkids_domain_Child_middleName" property="middleName" z="XaEtmbiMSUnQCFZJA7egPoeDUfo="/>
            <table:column date="true" dateTimePattern="${child_dob_date_format}" id="c_usyd_totalkids_domain_Child_DOB" property="DOB" z="AczFgwBeq+jwSilyBcCTnjNnDjg="/>
            <table:column id="c_usyd_totalkids_domain_Child_raisedBy" property="raisedBy" z="0C5eMOPUGrWuWauO1GvhU1JkhVI="/>
            <table:column id="c_usyd_totalkids_domain_Child_Gender" property="gender" z="H1vauLtnvNRPMKiEKATljlUvD6w="/>
        </table:table>
    </page:list>
</div>
