<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_usyd_totalkids_domain_NutritionCalendar" items="${NC}" z="c8ZFY0q6zJFW0T0+CgADsVofktQ=">
        <table:table data="${NC}" id="l_usyd_totalkids_domain_NutritionCalendar" path="/nutritioncalendars" z="Z8jSMQT4641Cyk+fZkl5esV1/q4=">
            <table:column date="true" dateTimePattern="${nutritionCalendar_intakedate_date_format}" id="c_usyd_totalkids_domain_NutritionCalendar_intakeDate" property="intakeDate" z="xmMeO9vdn3buKpcjfYbv+aQL5bY="/>
            <table:column id="c_usyd_totalkids_domain_NutritionCalendar_energy" property="energy" z="biBJ6oeFVSs0jFV5fqv5TnIwiqk="/>
            <table:column id="c_usyd_totalkids_domain_NutritionCalendar_protein" property="protein" z="xa6rm9/WAN5T/R9rC9M8TBOFScY="/>
            <table:column id="c_usyd_totalkids_domain_NutritionCalendar_sodium" property="sodium" z="JtdGCj9OlM+3iYRJcV77YWWpSa4="/>
            <table:column id="c_usyd_totalkids_domain_NutritionCalendar_calcium" property="calcium" z="+RfMQTqW8kWmNs0HV4I8e9N/as0="/>
            <table:column id="c_usyd_totalkids_domain_NutritionCalendar_thisChild" property="thisChild" z="TVN5aw4IaK3QN8rRSyGF0tAEbF4="/>
        </table:table>
    </page:list>
</div>
