<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_usyd_totalkids_domain_GoogleMap" items="${googlemaps}" z="JLuzIxnEEYdQzKcOWSWsC31mbSM=">
        <table:table data="${googlemaps}" id="l_usyd_totalkids_domain_GoogleMap" path="/googlemaps" z="vhKUXt4ZWLS/bVPMv2v710yg5lg=">
            <table:column id="c_usyd_totalkids_domain_GoogleMap_MapName" property="mapName" z="YgwvaBbeB1Ns/Y92XLlWXt/qxHA="/>
        </table:table>
    </page:list>
</div>
